* {
  margin: 0; 
}

.app {
  background-color: #fafafa;
}

.app_header {
  background-color: white;
  padding: 7px;
  padding-left: 70px;
  border-bottom: 1px solid lightgray;
  object-fit: contain;
}

.app_headerImage {
  width: 60px;
}

.app_signup {
  display: flex;
  flex-direction: column;
}