* {
  margin: 0; 
  box-sizing: border-box;
}

.app {
  background-color: #fafafa;
}

.posts_section {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.app_posts {
  padding: 20px;
}

.app_header {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: white;
  padding: 7px;
  padding-left: 70px;
  border-bottom: 1px solid lightgray;
  object-fit: contain;
  display: flex;
  justify-content: space-between;
}

.app_headerImage {
  object-fit: contain;
  width: 60px;
}

.app_signup {
  display: flex;
  flex-direction: column;
}
